
body {
    background-color:lightgreen;
    color:black;
    font-family: "Oswald", sans-serif;
    font-size:large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 5;
}

button {
    background-color: darkgreen;
    color: white;
    font-family: "Oswald", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 23%;
}